src/test/resources/xsd/invalid.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema 	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:pc="http://schema.primaresearch.org/PAGE/gts/pagecontent/2018-07-15" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <element name="PcGts" type="pc:PcGtsType">
		<annotation>
			<documentation>Page Content - Ground Truth and Storage</documentation>
		</annotation></element>
	<complexType name="PcGtsType">
		<sequence>
			<element name="Metadata" type="string"></element>
		</sequence>
	</complexType>
</schema>
